/* In CSS, selectors are patterns used to select the element(s) you want to style.
		selector{
			 property: value;
		}
*/

/* titulos h2*/	
h2{
	font-size: 140%;
	font-family: Verdana;
	color: blue;
	position: relative;
	text-align: center;
}

div{
	display: block;
}

#text_center{ /* id */
	text-align: center;
}

/* botao ativo*/
.button{ /* Class */
	width: 160px; 
	height: 30px;
	cursor: pointer;
	text-decoration: none;
    color: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

/* botao inativo*/
.button_disable{
	width: 160px; 
	height: 30px;
	text-decoration: none;
    color: none;
    cursor: not-allowed;
}

.button:hover{
	box-shadow: 0px 0px 14px 1px rgba(198,226,255,0.5), 0 2px 50px 0 rgba(198,226,255,0.5);
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

#div{
	width: 600px;
	height: 800px;
 	overflow: auto;
 	margin-bottom: 30px;
}

/* links */
a{
   text-decoration: none;
   color: black;
}

a:hover{
    color: blue;
    font-size: 101%;
}

/* imagem inicial*/
.imgCRR{
	height: 100%;
	width: 215px;
}

/* campo de pesquisa*/
.divSearch{
	margin-top: 35px;
	margin-bottom: 25px;
	text-align: center;
	position: block;
}

/* div do mapa */
.mapViewer{
	border-radius: 2px;
	border: 1px solid #C5C5C5; 
	width: 75%; 
	height: 90%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}

/* informacoes dos municipios ao passar mouse */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* legenda do mapa */
.legend {
    line-height: 16px;
    color: #777;
    border-radius: 5px;
    background: rgba(255,255,255,0.85);
    padding-right: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 155px;
    border-top-left-radius: 0%;
}

.legend i {
    width: 18px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.85;
}

.info_legenda
{
	width: 11px;
    height: 11px;
    float: left;
    margin-right: 5px;
    opacity: 0.85;
    border-radius: 100%;
}

.checkbox {
	line-height: px;
    color: #777;
    border-radius: 5px;
    background: rgba(255,255,255,0.85);
    padding-right: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.imgButton{
	margin-left: -7px;
}

#div{
	width: 575px;
	height: 700px;
}

/* TABELA */
.wrap {
    width: 600px;
    border-bottom: 1px solid #eee;
}

.wrap table {
    width: 600px;
}

table{
	border-collapse: collapse;
	overflow-x: hidden;
}

table tr td {
    padding: 2px;
    border-bottom: 1px solid #eee;
    height: 25px;
    table-layout: fixed;
    border-collapse: collapse;
    word-wrap: break-word;
    overflow-x: hidden;
}

/* animação da linha (passar mouse) */
tr{
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

tr:hover{
	background-color: #C6E2FF;
}

table.head tr td {
    background: #eee;
    font-weight: bold;
}

.inner{
	height: 600px;
    width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}


table.inner_table tr td{
	height: 30px;
}

.inner_table{
	height: 30px;
}

.head{
	height: 30px;
}

#results{
    border-top: 1px solid #eee;
}

#tr:hover{
	background-color: white;
}

#outer{
	z-index: 0;
	width:100%
}

#load{
	width: 75%; 
	height: 90%;
    margin: 0 auto;
    background: rgba(255,255,255,0.85);
    left: 0;
    right: 0;
    margin-top: 25px;
}

#loadInner{
	width: 220px;
	height: 85px;
	border-radius: 4px;
	border: 1px solid #C5C5C5;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#loadCircle{
	width: 20px;
    height: 20px;
    background-color: #00008B;
    border-radius: 100%;
    position: relative;
    -webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
    animation: move 3s infinite;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move {
	0%   {background-color: #00008B;}
    /*33%  {background-color: #87CEFA;}*/
    50%  {background-color: #1E90FF;}
    100% {background-color: #00008B;}

    from {left: 60px;}
    to {left: 132px;}
}

/* Standard syntax  - animation code*/
@keyframes move {
	0%   {background-color: #00008B;}
    /*33%  {background-color: #87CEFA;}*/
    50%  {background-color: #1E90FF;}
    100% {background-color: #00008B;}

    from {left: 60px;}
    to {left: 132px;}
}